<p-toast></p-toast>
<div class="admin-page">
  <p-card header="{{formTitle}} Category" subheader="{{formTitle}} Category here">
    <div class="p-grid p-mb-2">
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left">
          </div>
          <div class="p-toolbar-group-right">
            <p-button label="{{formButton}}" icon="pi {{formIcon}}" styleClass="p-button-primary p-mr-3" (click)="submitForm()"></p-button>
            <p-button label="Cancel" icon="pi pi-arrow-circle-left" styleClass="p-button-secondary"></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12">
        <form [formGroup]="form">
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col">
            <label for="name">Name</label>
            <input formControlName="name"  id="name" type="text" pInputText>
            <small class="p-error" *ngIf="isSubmitted && categoryForm.name.invalid">Name is required</small>
          </div>
          <div class="p-field p-col">
            <label for="icon">Icon</label>
            <input formControlName="icon" id="icon" type="text" pInputText>
            <small class="p-error" *ngIf="isSubmitted && categoryForm.icon.invalid">Icon is required</small>
          </div>
          <div class="p-field p-col">
            <label for="color"  >Color</label><br>
            <p-colorPicker id="color"  formControlName="color"></p-colorPicker>
          </div>
        </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
