<header>
  <div class="p-grid">
    <div class="p-col-3">
      <div class="logo">
        <img src="assets/images/logo.png" alt="Logo">
      </div>
    </div>
    <div class="p-col-4">
      <search-component></search-component>
    </div>
    <div class="p-col-3 p-offset-1">
      <nav-component></nav-component>
    </div>
    <div class="p-col-1">
      <i class="pi pi-user p-mr-3 p-text-secondary" style="font-size: 1.5rem"></i>
     <cart-icon-component ></cart-icon-component>
    </div>
  </div>
</header>
